<!--

INF601 - Programming in Python
Assignment - Mini Project 3
I, Jakob Schaefer, affirm that the work submitted for this assignment is entirely my own.
I have not engaged in any form of academic dishonesty, including but not limited to cheating, plagiarism, or the use of unauthorized materials.
I have neither provided nor received unauthorized assistance and have accurately cited all sources in adherence to academic standards.
I understand that failing to comply with this integrity statement may result in consequences, including disciplinary actions as determined by my course instructor and outlined in institutional policies.
By signing this statement, I acknowledge my commitment to upholding the principles of academic integrity.

Update HTML File
-->

{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>

    <label for="driver">Driver</label>
    <input name="driver" id="driver" value="{{ post['driver'] }}" required>

    <label for="sponsor">Sponsor</label>
    <input name="sponsor" id="sponsor" value="{{ post['sponsor'] }}" required>

    <label for="number">Number</label>
    <input type="number" name="number" id="number" value="{{ post['number'] }}" required>

    <label for="year">Year</label>
    <input type="number" name="year" id="year" value="{{ post['year'] }}" required>

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}